/* clase 8: Animaciones */

/* transformaciones 
translate
scale
rotate
skew
perspective (3D)

30px = 100%
?    = 120%

*/



.caja {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: fixed;
	left: 0;
	top: 0;
	display: inline-block;
	background-color: red;
	animation-name: circulo;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-direction: normal;
    animation-timing-function: ease-in;
}

@keyframes circulo{
	0%{left: 0;top:0;}
	15%{left: 0;top:0;}

	16%{background-color: brown}
	18%{background-color: silver}
	20%{background-color: green}

	21.25%{left: auto;right: 0;background-color: pink;}
	36.25%{left: auto;right: 0;background-color: pink;}

	42.5%{bottom: 0;top:auto;background-color: yellow;}
	57.5%{bottom: 0;top:auto;background-color: yellow;}

	63.75%{left: 0;right: auto; background-color: green;}
	78.75%{left: 0;right: auto; background-color: green;}

	85% {
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		background-color: lightblue;
	}
	100%{
		right: 0;
		left: 0;
		bottom: 0;
		top: 0;
		margin: auto;
		background-color: lightblue;
	}
}

.wrapper {
	display: inline-block;
	width: auto;
	height: 40px;
	background: red;
	overflow: hidden;
	color: #fff;
	margin-top: 100px;
}
.wrapper span,
.wrapper ul{
	display: inline-block;
}
.wrapper span{
	line-height: 40px;
	padding-left: 1rem;
	vertical-align: top;
	margin-right: 1rem;
}
.wrapper ul{
	list-style-type: none;
	padding-left: 0;
	margin: 0;
	/* animation: slide 10s infinite alternate-reverse; */
	animation-name: slide;
	animation-duration: 10s;
	animation-iteration-count: 2;
	animation-direction: reverse;
	/* alternate--> */
}
.wrapper ul li{
	line-height: 40px;
}


@keyframes slide{
	/* from{} = 0%{} */
	/* to{} = 100%{} */
	0%{margin-top: 0;}
	10%{margin-top: 0;}

	15%{margin-top: -40px}
	25%{margin-top: -40px}

	30%{margin-top: -80px}
	40%{margin-top: -80px}

	45%{margin-top: -120px}
	55%{margin-top: -120px}

	60%{margin-top: -160px}
	70%{margin-top: -160px}

	75%{margin-top: -200px}
	85%{margin-top: -200px}
		
	90%{margin-top: -240px}
	100%{margin-top: -240px}
}