body{
	margin: 0;
	background-color: whitesmoke;
	padding: 2em;
	font-family: 'Poppins', sans-serif;
	color: #384047;
}
/*
*	Propiedad utilizada para indicar si el padding y borde
*	incrementan el tamaño del elemento.
*	posibles valores:
*	box-sizing:
*	border-box;  == incluye el padding y borde para calcular el ancho/alto de un elemento
*	content-box; == valor por defecto
					padding y borde suman al ancho/alto del elemento
*/
*{
	box-sizing: border-box;
}
.group{
	padding: 3em 2em;
}
.group:nth-of-type(2n+1){
	background-color: #b8f5d2;
	padding: 3em 2em;
}

/*
	Selecciona todos los elementos que no tenga contenido 
	(texto, Y/0 child)
*/
.empty span:empty,
.empty .vacio:empty {
	width: 30px;
	height: 30px;
	background-color: red;
	display: inline-block;
	margin:  10px 15px;
}

/**
 * 	Pseudo elemento ::before
 *	Inserta texto y/o un elemento antes del contenido del elemento seleccionado
 *	Se usa la propiedad content:""; para indicar el contenido
 *
 	::before {
    	css declarations;
	}
 */	


.before h1{
	position: relative;
	display: inline-block;
	text-align: center;
	
}
.before h1::before {
	content: "";
	width: 20px;
	height: 20px;
	margin:  0 10px;
	padding: 3px;

	background-color: yellow;
	border-radius: 50%;
	display: inline-block;
}
/**
 * 	Pseudo elemento ::after
 *	Inserta texto y/o un elemento despues del contenido del elemento seleccionado
 *	Se usa la propiedad content:""; para indicar el contenido
 *
 	::after {
    	css declarations;
	}
 */	
.after h1::after {
	content: "";
	width: 20px;
	height: 20px;
	margin:  0 10px;
	padding: 3px;
	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:  auto;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
	transform: translate(23px, 0);
}

/**
 * 	Pseudo elemento ::first-letter
 *	Es usado para agregar estilos a la primera letra del elemento seleccionado
 *
 	::first-letter {
    	css declarations;
	}
*/

.first-letter h1::first-letter{
	text-transform: uppercase;
	font-size: 4em;
}

/**
 * 	Pseudo elemento ::first-line
 *	Es usado para agregar estilos a la primera linea de texto
 *
 	::first-line {
    	css declarations;
	}
*/
.first-line p::first-line{
	text-transform: uppercase;
	font-size: 4em;
}
/**
 * 	Pseudo clase ::focus
 *	Es usado para seleccionar al alemento que tenga el foco. 
 *	
 	:focus {
    	css declarations;
	}
*/
.focus input:focus{
	border: 10px solid green;
}
/**
 * 	Pseudo clase :active
 *	Es usado para seleccionar un link, buttton, cuando este dispara
 *	el evento de clic
 *	
 	:active {
    	css declarations;
	}
*/
.active a:active{
	color: pink;
	cursor: pointer;
}
/* Se dispara primero la pseudo clase :hover antes que el :active */
.active a:hover{
	color: yellow
}

/**
 * 	Pseudo clase :hover
 *	Es usado para seleccionar al elemento cuando el cursor
 *	se coloca sobre él.
 *	
 	:hover {
    	css declarations;
	}
*/
.hover p:hover{
	color: gold;
}
/**
 * 	Selector ::selection
 *	Es usado para seleccionar la porción de texto seleccionada por el usuario
 *	
 	::selection {
    	css declarations;
	}
*/
.selection p::selection{
	background-color: red;
	color: white;
}

/**
 * 	Selector :nth-of-type()
 *	Es usado para seleccionar uno o más elementos basado en el orden de los elementos
 *	de acuerdo a una formula
 *	odd => impar , even => par, (an + b)
 *	Donde: 
 *	a = valor entero
 *	n = Letra n
 *	+ 0 - = operador
 *	b = valor entero si y solo si se incluye un operador despues de n
 *	p.ej. 4n = (4x0, 4x1, 4x2, 4x3, etc) =  4,8,12, etc	
 *
 	:nth-of-type {
    	css declarations;
	}
*/
.nth ul li:nth-of-type(2n+4){
	color: red;
}
/**
 * 	Selector :nth-child()
 *	Es usado para seleccionar uno o más elementos basado en el orden de los elementos
 *	de acuerdo a una formula
 *	odd => impar , even => par, (an + b)
 *	Donde: 
 *	a = valor entero
 *	n = Letra n
 *	+ 0 - = operador
 *	b = valor entero si y solo si se incluye un operador despues de n
 *	p.ej. 4n = (4x0, 4x1, 4x2, 4x3, etc) =  4,8,12, etc	
 *
 	:nth-child {
    	css declarations;
	}
*/
.nth ul li:nth-child(1){
	color: green;
}
/**
 * 	Selector :first-child()
 *	Es usado para seleccionar el primer elemento del tipo indicado
 *
 	:first-child {
    	css declarations;
	}
*/
.nth ul li:first-child{
	font-weight: bold;
	color: aquamarine;
}
/**
 * 	Selector :last-child()
 *	Es usado para seleccionar el ultimo elemento del tipo indicado
 *
 	:last-child {
    	css declarations;
	}
*/
.nth li:last-child{
	font-weight: bold;
}





