/*:root {
    --alice-blue: #F4F7FB;
    --medium-aquamarine: #54CBB1;
    --zircon: #DBE5E4;
    --keppel: #5AA293;
    --morning-glory: #9ADCDA;
    --link-water: #C9D0D6;
}*/

body {
margin: 0;
padding-top: 6em;
padding-bottom: 6em;
background-color: #54CBB1;
font-family: 'Poppins', sans-serif;
}

.contenedor {
background-color: #DBE5E4;
display: block;
margin: auto;
text-align: center;
padding: 3rem 2rem;}

.ctn_titulo,.ctn_subtitulo{
max-width: 80%;
display: block;
margin: auto;
}

.wrap__item {

width: 100%;
display: block;
overflow: auto;
padding:20px;
}

.wrap__item .left {
width: 50%;
display:inline-block;
float:left;
}

.item__left {
text-align: left;
}

.item__left:first-child {
margin-bottom: 5rem;

}

.item__left p {

font-size: 0.8em;
color: gray;
}

/*el span es de linea ppor default */
.icon__check {

width: 30px;
height: 30px;
display: inline-block;
background-image: url('../img/success.png');
background-repeat: no-repeat;
-webkit-background-size: cover;
background-size: cover;
background-position: center;
vertical-align: middle;
}


/* Cajas del lado derecho empiezan aquí */

.wrap__item .right{
width: 50%;
display:inline-block;
float:right;
}

.item__right 
{
width:30%;
float:left;
margin:  0 1.66666667% 1rem;
height: 100px;
background-color: #fff;
text-align: center;}

.item__right p {
font-size: .6em;
font-weight: bold;
line-height: .1em;

}

/* Quiero usar un selector compuesto para cada cambio de color*/
.item__right p {
color:#5FA8D3;
}

.item__right p {
color:#41B149;
}

.item__right p {
color:#CF5F96;
}



/****/

.item__right .social{
margin:20px 0 0 0;
width: 30px;
height: 30px;
display: inline-block;
background-image: url('../img/icon-socialmedia.svg');

}

.item__right .conversion{
margin:20px 0 0 0;
width: 30px;
height: 30px;
display: inline-block;
background-image: url('../img/icon-advertising.svg');

}

.item__right .content{
margin:20px 0 0 0;
width: 30px;
height: 30px;
display: inline-block;
background-image: url('../img/icon-content.svg');

}

.item__right .email{
margin:20px 0 0 0;
width: 30px;
height: 30px;
display: inline-block;
background-image: url('../img/icon-email.svg');

}

@media screen and (max-width:1400px){

	.contenedor {
	max-width: 85%;

	}


}